*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin: 1rem auto;
  max-width: 1300px;
  padding: 1.2rem 5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }

}
.hot_container {
    background: linear-gradient(-45deg, #f6d365, #fda085, #6f86d6, #fda085);
    background-size: 350% 350%;
    animation: gradient 13s ease infinite;
  
}
.cold_container {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 350% 350%;
  animation: gradient 13s ease infinite;
}

